.quadradoRegistro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #b1b1b1;
  border-radius: 8px;
  height: 650px;
  width: 500px;
}

button {
  margin-top: 20px;
}
.backCriarPerfil {
  display: flex;
  justify-content: center;
}
