.quadradoRegistro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #b1b1b1;
  border-radius: 8px;
  height: 550px;
  width: 500px;
}

button {
  margin-top: 20px;
}
.backCriarPerfil {
  display: flex;
  justify-content: center;
}

#botaoAvancar {
  background-color:#085312;
  transition-delay: 0.2s ;
}
#botaoAvancar:hover {
  transition-duration: 0.2s;
  background-color: #1b7527;
}

input[type="file"] {
  display: none;
}

#estilizarImg {
  padding: 20px 10px;
  width: 100px;
  height: 75px;
  border-radius: 50%;
  background-color: #acacac;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-top: 10px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}

#estilizarImg img {
  width: 100px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  display: none;
}
